<app-navbar></app-navbar>

<div *ngIf="!isSingleView" style="margin: auto; width: 80%; margin-top: 30px">

  <form (ngSubmit)="onFilteringButtonClick()">
    <div class="form-row">
      <div class="form-group col-sm">
        <label for="albumTitle">Album</label>
        <input [(ngModel)]="filteringData.albumTitle" type="text" class="form-control" id="albumTitle" name="albumTitle" placeholder="Tytuł albumu">
      </div>
      <div class="form-group col-sm">
        <label for="artistName">Artysta</label>
        <input [(ngModel)]="filteringData.artistName" type="text" class="form-control" id="artistName" name="artistName" placeholder="Artysta">
      </div>
      <div class="form-group col-sm">
        <label for="publicationYear">Rok wydania</label>
        <input [(ngModel)]="filteringData.publicationYear" type="number" class="form-control" id="publicationYear" name="publicationYear" placeholder="Rok wydania albumu">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Filtruj</button>
    </div>
  </form>

  <br/>

  <table class="table table-striped table-bordered table-sm">
    <tr>
      <th class="text-center">Album</th>
      <th class="text-center">Artysta</th>
      <th class="text-center">Rok publikacji</th>
      <th class="text-center">Wersja</th>
      <th class="text-center">Dostawca</th>
      <th class="text-center">Akcje</th>
    </tr>

    <tr *ngFor="let album of albums">
      <td class="text-center"><a class="nav-link" style="cursor: pointer;" (click)="onAlbumDetailsButtonClick(album)">{{album.title}}</a></td>
      <td class="text-center">{{ album.artist.name }}</td>
      <td class="text-center">{{ album.publicationYear }}</td>
      <td class="text-center">{{ album.version }}</td>
      <td class="text-center">{{ album.supplier }}</td>
      <td class="text-center">
        <button (click)="onAlbumDetailsButtonClick(album)" id="button-1" class="btn btn-primary btn-sm" style="margin-right: 5px;">Szczegóły</button>
        <button (click)="onDeleteAlbumButtonClick(album)" id="button-2" class="btn btn-danger btn-sm">Usuń</button>
      </td>
    </tr>
  </table>

  <br/>

  <form (ngSubmit)="refreshAlbums()" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="pageSize" style="margin-right: 5px;">Ilość albumów na stronie </label>
        <input [(ngModel)]="paginationData.pageSize" type="number" class="form-control" id="pageSize" name="pageSize" placeholder="{{paginationData.pageSize}}">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Odśwież</button>
  </form>

  <br/>
  <div class="text-center">
      <ul class="pagination justify-content-center">
        <li class="page-item"
          [ngClass]="{'disabled': !isPreviousPage}">
          <a class="page-link" style="cursor: pointer;" (click)="onPreviousPage()" tabindex="-1" aria-disabled="isPreviosPage">Poprzednia</a>
        </li>
        <li *ngIf="isPreviousPage" class="page-item"><a class="page-link" (click)="onPreviousPage()">{{ currentPageNumber - 1 }}</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">{{ currentPageNumber }}</a>
        </li>
        <li *ngIf="isNextPage" class="page-item"><a class="page-link" (click)="onNextPage()">{{ currentPageNumber + 1 }}</a></li>
        <li class="page-item"
          [ngClass]="{'disabled': !isNextPage}">
          <a class="page-link" style="cursor: pointer;" (click)="onNextPage()" aria-disabled="isNextPage">Następna</a>
        </li>
      </ul>
  </div>

</div>

<br/>

 <app-song *ngIf="isSingleView" [album]="singleAlbumData" (back)="isSingleView=!isSingleView"></app-song>